.idea
*.iml
.gitignore
target
/src/test/java/com/epam/courses/jf/practice/second/Task3Test.java
/src/test/java/com/epam/courses/jf/practice/second/Task9Test.java
/src/test/java/com/epam/courses/jf/practice/second/Task11Test.java
/src/test/java/com/epam/courses/jf/practice/second/Task15Test.java
/src/test/java/com/epam/courses/jf/practice/second/AbstractTaskWithResourcesTest.java
/src/test/java/com/epam/courses/jf/practice/second/Task8Test.java
/src/test/java/com/epam/courses/jf/practice/second/Task12Test.java
/src/test/java/com/epam/courses/jf/practice/second/AbstractTaskTest.java
/src/test/java/com/epam/courses/jf/practice/second/Task4Test.java
/src/test/java/com/epam/courses/jf/practice/second/Task16Test.java
/src/test/java/com/epam/courses/jf/practice/second/Task13Test.java
/src/test/java/com/epam/courses/jf/practice/second/Task19Test.java
/src/test/java/com/epam/courses/jf/practice/second/Task1Test.java
/src/test/java/com/epam/courses/jf/practice/second/Task7Test.java
/src/test/java/com/epam/courses/jf/practice/second/Task5Test.java
/src/test/java/com/epam/courses/jf/practice/second/Point2D.java
/src/test/java/com/epam/courses/jf/practice/second/Task17Test.java
/src/test/java/com/epam/courses/jf/practice/second/Task18Test.java
/src/test/java/com/epam/courses/jf/practice/second/Task14Test.java
/src/test/java/com/epam/courses/jf/practice/second/Task2Test.java
/src/test/java/com/epam/courses/jf/practice/second/Task6Test.java
/src/test/java/com/epam/courses/jf/practice/second/Task10Test.java
